[submodule "core/idprov-go"]
	path = core/idprov-go
	url = git@github.com:wostzone/idprov-go
[submodule "core/hubauth"]
	path = core/hubauth
	url = git@github.com:wostzone/hubauth
[submodule "core/mosquittomgr"]
	path = core/mosquittomgr
	url = git@github.com:wostzone/mosquittomgr
[submodule "core/thingdir-go"]
	path = core/thingdir-go
	url = git@github.com:wostzone/thingdir-go
[submodule "core/hubserve-go"]
	path = core/hubserve-go
	url = git@github.com:wostzone/hubserve-go
